body{
     background-color: #f3f5ef;
}
.header{
     z-index: 1;
     position: fixed;
     top: -1%;
     left: -1%;
     width: 101vw;
     height: 80px;
     background-color: black;
}
#warInUkraine{
     text-decoration: none;
}
.news{
     margin-top: 140px;
     text-decoration: none;
}
#rn{
     position: relative;
     left: 10%;
     height: 80px;
}
.i{
     display: inline;
}
#onUa{
     color: white;
     font-size: 20pt;
     position: relative;
     top: -28px;
     left: 11%;
     font-family: 'Helvetica';
}
.nav{
     background-color: black;
     position: fixed;
     top: 72px;
     left: -1%;
     width: 101vw;
     height: 30px;
      display: table-cell;
    vertical-align: middle
}
.navT{
     text-decoration: none;
     color: white;
     font-family: 'Helvetica';
     font-size: 16pt;
     margin: 3px;
}
.navT:hover{
     text-decoration: none;
     color: white;
     font-family: 'Helvetica';
     color: gray;
     transition: all 0.3s ease;
}
#warInUkraineTXT{
     position: relative;
     top: -80px;
     left: 360PX;
     color: white;
}
#donbas{
     position: relative;
     left: 25%;
     max-width: 100px;
}
.new{
     display: inline-block;
     margin: 10px;
     background-color: white;
     height: 400px;
     width: 300px;
     border-radius: 2px;
     filter: drop-shadow(0px 0px 1px gray);
}
@media (max-width: 918px) {
  #donbas {
    display: none;
  }
}
@media (max-width: 496px) {
  .nav {
    background-color: black;
    position: fixed;
    top: 70px;
    left: -1%;
    width: 101vw;
    height: 50px;
    display: table-cell;
    vertical-align: middle
  }
}
@media (max-width: 671px) {
  .new {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 430px;
  }
}
#rubleA{
     text-decoration: none;
     font-family: helvetica;
     font-size: 19pt;
     text-align: center;
     margin-left: 16px;
}
.theme{
     text-decoration: none;
     color: #093;
     font-family: helvetica;
     margin-left: 17px;
}
#rubleT{
     margin-left: 17px;
     margin-right: 17px;
}
#rubleI{
     margin-left: 17px;
}
.date{
     color: gray;
     position: relative;
     bottom: 13px;
     left: 15px;
}
#newsS{
     margin-left: 10%;
}
.back{
     background: black; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.5rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
    outline: none;
    border: 0;
}
@media (max-width: 990px) {
  .back {
      background: black; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.5rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
    outline: none;
    border: 0;
    font-size: 20pt;
  }
}
.video{
     position: relative;
     left: 65%;
     top: -155px;
}
.article{
     font-family: Verdana;
}
@media (max-width: 990px) {
  .article {
     font-family: Verdana;
     font-size: 30pt;
  }
}
.content{
     font-family: Verdana;
}
@media (max-width: 990px) {
  .content {
     font-family: Verdana;
     font-size: 15pt;
     margin-right: 10%;
  }
}
@media (max-width: 990px) {
  .video {
     position: relative;
     left: 30%;
     top: -75px;
     margin-top: 100px;
     margin-left: -70px;
  }
}
.imgInContent{
     width: 37%;
}
@media (max-width: 990px) {
  .imgInContent {
     width: 95%;
  }
}
#flag{
     position: relative;
     left: 55%;
     top: -860px;
     width: 35%;
}
.main{
     text-decoration: none;
}